html {
    overflow-x: hidden;
    --color1: #848484;
    --color2: #4E4E4E;
    --color3: rgb(223, 170, 170);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
  min-height: 100dvh;
}

h1, h2{
    text-align: center;
}

h2{
  margin-top: 70px;
  margin-bottom: 70px;
}

body {
    margin: 0;
    font-family: Arial, Verdana, sans-serif;
}

.header {
    box-shadow: 0px 4px 21px -1px rgba(34, 60, 80, 0.13);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.logo {
    display: block;
}

.logo__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}



.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2;
    cursor: pointer;
}

.header__burger-btn span {
    background-color: var(--color2);
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 5px;
    transition: background-color .3s, opacity .3s, transform .3s;
    will-change: transform;
}

.header__burger-btn .span1{
    position: absolute;
    width: 23px;
    left: 12px;
}

.header__burger-btn:hover span {
    background-color: rgb(103, 103, 103);
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}


.header.open .header__burger-btn span {
    background-color: var(--color2);
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.menu{
    margin-left: 50px;
    margin-right: 50px;
    width: 80%;
}

.menu__list {
    color: var(--color2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.main_im{
    z-index: -1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url(фон.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.overlay{
    z-index: -1;
    top: 0px;
    left:0px;
    width: 100%;
    height: 400px;
    filter: blur(2px);
    position: absolute;
    background-color: black;
    opacity: 0.6;
}

.main_im h1{
    color: rgba(255, 255, 255, 0.842);
    z-index: 1;
}

.main_im p{
    max-width: 700px;
    font-size: 14px;
    text-align: center;
    color:  rgba(255, 255, 255, 0.642);
    z-index: 1;
}

.menu__link {
    display: block;
}



.advanteges {
    margin-left:30px;
    margin-right:30px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 30px 30px; 
    grid-template-areas: 
      "ad1 ad2 ad3"
      "ad4 ad5 ad6"; 
    grid-area: advanteges; 
  }


.ad1, .ad2, .ad3, .ad4, .ad5, .ad6 { 
    padding: 20px;
    color: white;
    background-color: rgb(223, 170, 170);
    text-align: center;
}

@media (min-width: 1001px) {
  .container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

    footer {
        color: white;
        grid-area: footer;
        display: grid;
        grid-template-columns: 1.6fr 0.8fr 0.8fr;
        grid-template-rows: 1fr 0.1fr;
        gap: 0px 0px;
        grid-template-areas:
        "f1 f2 f3"
        "f4 f4 f4";
        background-color: var(--color1);
    }
}


@media (min-width: 768px) and (max-width: 1000px) {

    .advanteges {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "ad1 ad2"
            "ad3 ad4"
            "ad5 ad6";
    }

    footer {
        color: white;
        grid-area: footer;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4fr 4fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
        "f1 f1"
        "f2 f3"
        "f4 f4";
        background-color: var(--color1);
    }
}


@media (max-width: 768px) {
  .advanteges p{
    font-size: 12px;
  }

    .header__burger-btn {
        display: block;
    }

    .main_im p{
        text-align: center;
        font-size: 12px;
    }

    .main_im{
        height: 400px;
        background-image: url(фон2.jpg);
    }

    .menu{
        position: absolute;
        background-color: var(--color2);
        top: 80px;
        left: -50px;
        width: 100%;
        display: block;
        visibility: hidden;
        transition: transform 0.3s visibility 0.3s;
    }

    .menu__list {
        display: block;
    }

    .menu__item:not(:last-child) {
        margin-right: 0;
    }

    .menu__link {
        text-align: center;
        color: white;
        font-size: 14px;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        display: block;
        padding: 10px;
    }
    .header.open .menu {
        visibility: visible;
    }

    .advanteges {
        margin-left:0px;
        margin-right:0px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "ad1"
            "ad2"
            "ad3"
            "ad4"
            "ad5"
            "ad6";
    } 

    footer {
        color: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 40px;
        gap: 0px 0px;
        grid-template-areas:
          "f1"
          "f2"
          "f3"
          "f4";
        background-color: var(--color1);
    }

}




iframe{
    width: 100%;
}



.f1 {
    grid-area: f1;
    margin-left: 20px;
  }
  
  
  .f2 {
    margin-left: 20px;
    grid-area: f2;
  }
  
  .f3 {
    grid-area: f3;
    margin-left: 20px;
  }
  
  .f4 {
    grid-area: f4;
    background-color: var(--color2);
    color: white;
  }
  
  .f3 h3 {
    position: relative;
    color: white;
  }

  .f1 h3,
  .f2 h3,
  .f3 h3 {
    position: relative;
    color: white;
  }

  .f1 h3:after,
  .f2 h3:after,
  .f3 h3:after{
    display: block;
    position: absolute;
    left: 0;
    width: 30%;
    height: 2px;
    background-color: white;
    content: "";
  }
  
  footer a {
    text-decoration: none;
    color: white;
  }
  
  footer a:hover {
    transform: scale(2);
    text-decoration: none;
    color: var(--color3);
  
  }
  
  footer ul{
    padding: 0px;
  }

  footer li {
    list-style: none;
    padding-bottom: 10px;
  }
  
  footer p {
    color: white;
  } 

  
@media (min-width: 713px) {
    form {
        max-width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 120px 1fr;
        gap: 0px 40px;
        grid-template-areas:
            "lable lable"
            "n1 n2"
            "end end";
    }
  }
  
  @media (max-width: 712px) {
    form {
        max-width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "lable"
            "n1"
            "n2"
            "end";
    }
  }
  
  center{
    margin-top: 80px;
    padding-bottom: 70px;
    background-color: #ececec;
  }

  
  .lable {
    grid-area: lable;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
  }
  

.lable h2{
    margin: 45px;
}

  
  .end {
    grid-area: end;
    width: 100%;
  }
  
  
  .n1 {
    grid-area: n1;
  }
  
  
  .n2 {
    grid-area: n2;
  }
  .sub_but{
    color:white;
    border: none;
    margin-top: 20px;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--color3);
  }
  
  label {
    text-align: left;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  select{
    width: 100%;
    background: transparent;
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid var(--color3);
  }
  
  input {
    width: 100%;
    background: transparent;
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid var(--color3);
  }
  
  input:hover, select:hover {
    background-color: var(--color3);
  }
  
  input:focus, select:focus{
    background-color: var(--color3);
    outline: 0;
    color: white;
  }


  .icon {
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px 1px white;
  }
  
  .icon i {
    position: relative;
    color: white;
    font-size: 26px;
    margin-top: 12px;
    margin-left: 13px;
    transition: all 0.25s ease;
  }
  
  .icon:hover i {
    color: white;
  }
  
  .icon::before,
  .icon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
    border-radius: 30px;
  }
  
  .icon::before {
    border-radius: 0;
    margin-top: -100%;
    background: linear-gradient(#ff5f2e 0, var(--color3) 98%);
  }
  
  .icon:hover::before {
    margin-top: 0;
  }
  
  #icon3 {
    margin-left: 10px;
  }